/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* START====== TABLE RESPONSIVE CSS IS HERE */
a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}
.all-employees .pulse:hover {
  background-color: #ef5786;
  color: #ffffff;
}

/* ------------------------------------ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 33px 30px; */
  margin: 20px;
}

.wrap-table100 {
  width: 100%;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: left;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #fff !important;
}

tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}

tbody tr {
  /* font-family: OpenSans-Regular; */
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555 !important;
  background-color: #f5f5f5 !important;
  cursor: pointer;
}

.column1 {
  /* width: 260px; */
  width: 20%;
  padding-left: 40px;
}

.column2 {
  /* width: 160px; */
  width: 20%;
}

.column3 {
  /* width: 245px; */
  width: 20%;
}

/* .column4 {
    width: 110px;
    text-align: right;
  } */
.column4 {
  /* width: 222px; */
  width: 20%;
  text-align: center;
  /* padding-right: 62px; */
}

.column5 {
  width: 20%;
  text-align: center;
}

tbody td button {
  border: 1px solid #ef5786;
  background-color: #ef5786de;
  color: white;
  font-weight: 600 !important;
}

@media screen and (max-width: 992px) {
  .all-employees tr:nth-child(odd) {
    border-image: linear-gradient(to right, #4fb3c8 0%, #fc9fc2 100%) 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 4px;
  }
  .all-employees tbody tr:nth-child(even) {
    border-image: linear-gradient(to right, #4fb3c8 0%, #fc9fc2 100%) 1;
    border-radius: 5px;
    border-width: 1px;
    margin-bottom: 4px;
    border-style: solid;
  }
  .all-employees table tbody tr:last-child {
    border-image: linear-gradient(to right, #4fb3c8 0%, #fc9fc2 100%) 1;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
  }

  table {
    display: block;
  }
  table > *,
  table tr,
  table td,
  table th {
    display: block;
  }
  table thead {
    display: none;
  }

  table td {
    width: 100% !important;
  }
  table tbody tr {
    height: auto;
    padding: 37px 0;
  }
  .all-employees tbody tr td {
    padding-left: 40%;
    margin-bottom: 24px;
  }
  table tbody tr td:last-child {
    margin-bottom: 0;
  }
  table tbody tr td:before {
    font-size: 14px;
    color: #999999;
    line-height: 1.2;
    font-weight: unset;
    position: absolute;
    width: 40%;
    left: 30px;
    top: 0;
  }
  table tbody tr td:nth-child(1):before {
    content: "ID";
  }
  table tbody tr td:nth-child(2):before {
    content: "Name ";
  }
  table tbody tr td:nth-child(3):before {
    content: "Department";
  }
  table tbody tr td:nth-child(4):before {
    content: "LWD";
  }
  table tbody tr td:nth-child(5):before {
    content: "";
  }

  /* .column4, */
  .column5,
  .column4 {
    text-align: left;
  }

  /* .column4, */
  .column5,
  .column4,
  .column1,
  .column2,
  .column3 {
    width: 100%;
  }

  tbody tr {
    font-size: 14px;
  }

  tbody td button {
    border: 1px solid #ef5786;
    width: 90%;
    background-color: #ef5786de;
    color: white;
    font-weight: 600 !important;
  }

  .column4 {
    padding-right: 0;
  }

  .all-employees tr .column4 {
    padding-left: 0% !important;
    /* margin-bottom: 24px; */
  }

  table tbody tr td:last-child {
    margin-bottom: 0;
    text-align: left;
  }
}

@media (max-width: 576px) {
  .container-table100 {
    /* padding-left: 15px;
      padding-right: 15px; */
    margin: 10px 15px;
  }
}

/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* ------------------------------------------------------------------------------------------- */
/* END====== TABLE RESPONSIVE CSS IS HERE */
